<a href="" routerLink="/" >Home</a><br>
<h1>Create Book</h1>
<form (ngSubmit)="create()" [formGroup]="formCreate" >
  <!--  nhập id-->
  <!--  <input formControlName="id" placeholder="Nhập ID"><br><br>-->

  nhập Tên Sách
  <input formControlName="title" placeholder="Nhập Name" ><br><br>
  <p *ngIf="!formCreate!.get('title')?.valid" style="color:red"> Không nhập quá 6 ký tự</p>
  nhập Tác Giả
  <input formControlName="author"><br><br>
  <p *ngIf="!formCreate!.get('author')?.valid" style="color:red"> Không được để trống</p>
  nhập Mô tả
  <input formControlName="description"><br><br>
  <p *ngIf="!formCreate!.get('description')?.valid" style="color:red"> Không được để trống</p>
  <br>
  <button type="submit" [disabled]="!formCreate.valid" > Create</button>
</form>
